<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <p>This workshop has been organised by some of the members of the <b><a href="http://www.uco.es/ai4software">AI4Software Spanish Excellence Research Network (Red de Investigación en Inteligencia Artificial Aplicada al Proceso de Desarrollo Software, Red2022-134647-T)</a></b> of the Spanish Ministry of Science and Innovation. The AI4Software research network supported and partially funded this workshop.</p>
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>
